<!-- ******FOOTER****** -->
<footer class="footer pn">
  <div class="footer-content hide">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-5 col-sm-7 col-sm-12 about">
          <div class="footer-col-inner">
            <h3 class="title">About Us</h3>
            <p>Maecenas ac vehicula velit, nec facilisis elit. Phasellus non porttitor justo, eu bibendum elit. Maecenas pharetra non ligula quis ultricies. Nulla varius vestibulum ligula quis hendrerit. Maecenas et fermentum massa. Ut hendrerit, nulla fringilla venenatis pulvinar, nisl est adipiscing nunc, quis consequat mi mauris vel felis.</p>
            <p><a class="more" href="#">Learn more <i class="fa fa-long-arrow-right"></i></a></p>

          </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->
        <div class="footer-col col-md-3 col-sm-4 col-md-offset-1 links">
          <div class="footer-col-inner">
            <h3 class="title">Links</h3>
            <ul class="list-unstyled">
              <li><a href="#"><i class="fa fa-caret-right"></i>Knowledge Base</a></li>
              <li><a href="#"><i class="fa fa-caret-right"></i>Jobs</a></li>
              <li><a href="#"><i class="fa fa-caret-right"></i>Press</a></li>
              <li><a href="#"><i class="fa fa-caret-right"></i>Terms of services</a></li>
              <li><a href="#"><i class="fa fa-caret-right"></i>Privacy Policy</a></li>
            </ul>
          </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->
        <div class="footer-col col-md-3 col-sm-12 contact">
          <div class="footer-col-inner">
            <h3 class="title">Get in touch</h3>
            <div class="row">
              <p class="tel col-md-12 col-sm-4"><i class="fa fa-phone"></i>0800 123 4567</p>
              <p class="email col-md-12 col-sm-4"><i class="fa fa-envelope"></i><a href="#">support@website.com</a></p>
              <p class="email col-md-12 col-sm-4"><i class="fa fa-comment"></i><a href="#">Live Chat</a></p>
            </div>
          </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->
      </div><!--//row-->
    </div><!--//container-->
  </div><!--//footer-content-->
  <div class="bottom-bar mtn">
    <div class="container">
      <div class="row">
        <small class="copyright col-md-6 col-sm-6 col-xs-12">Copyright @ 2015 JollyGames</small>
        <ul class="social col-md-6 col-sm-6 col-xs-12 list-inline">
          <li><a href="#" ><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" ><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" ><i class="fa fa-linkedin"></i></a></li>
          <li class="last"><a href="#" ><i class="fa fa-youtube"></i></a></li>
        </ul><!--//social-->
      </div><!--//row-->
    </div><!--//container-->
  </div><!--//bottom-bar-->
</footer><!--//footer-->
