<section ng-controller="EventCtrl" class="events-container">
  <div class="container">
    <div class="events-plan mt40">
      <h2 class="title text-center fw600">Weekly events</h2>
      <p class="intro text-center">Tempo's pricing is simple and you can change your plan at any time. </p>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header fw500 mt10">Monday</h3>
        <div class="event-cols row phn15">
          <div class="event col-md-3 col-sm-3 col-xs-12 mb30"  ng-repeat="event in events">
            <div class="event-card">
              <a href="#" ng-click="deleteEvent_(event)"  tooltip="{{event.description}}">
                <div class="event-card-image-holder" style="transform: none; display: block; background-image: url({{event.img}});">

                </div>
                <div class="event-card-body p10">
                  <time class="event-card-date pn" itemprop="startDate" content="2015-08-12T17:00:00+03:00">
                    Wed, Aug 12
                    <span class="event-time">5:00 PM</span>
                  </time>
                  <h4 class="event-card-title pn mvn" itemprop="name">
                    {{event.title}}
                  </h4>
                  <div class="event-card-venue pn_">
                    Kaisaniemenkatu 13A, 2nd floor, Helsinki, Uusimaa, 00100, FI
                  </div>
                </div>
              </a>
              <div class="event-footer" style_="height: 100px">
                <!--<img src="https://maps.google.com/maps/place?q=Suutarila,+00740+Helsinki,+Finland&ftid=0x469207dd0afff94b:0x2600b5523c194671">-->
              </div>
            </div><!--//content-->
          </div><!--//item-->
        </div>
      </div>
    </div>
  </div>
</section>
