<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title text-center">Create Event</h4>
</div>
<div class="modal-body">
  <div class="login-form-container">
    <form class="login-form" name="form" ng-submit="login(form)" novalidate>
      <div class="form-group has-error">
        <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
          Please enter your email and password.
        </p>
        <p class="help-block" ng-show="form.email.$error.email && submitted">
          Please enter a valid email.
        </p>

        <p class="help-block">{{ errors.other }}</p>
      </div>
      <div class="form-group email">
        <label class="sr-only" for="email">Your email</label>
        <input id="email" name="email" type="email" class="form-control login-email" placeholder="Your email" ng-model="user.email" required>
      </div><!--//form-group-->
      <div class="form-group password">
        <label class="sr-only" for="password">Password</label>
        <input id="password" name="password" type="password" class="form-control login-password" placeholder="Password"  ng-model="user.password" required>
        <p class="forgot-password">
          <a href="#" id="resetpass-link" data-toggle="modal" data-target="#resetpass-modal">Forgot password?</a>
        </p>
      </div><!--//form-group-->

    </form>
  </div><!--//login-form-container-->
</div><!--//modal-body-->
<div class="modal-footer p10 ta-right">
  <button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button type="submit" class="btn btn-primary">Save</button>
</div><!--//modal-footer-->
