<section id="create-event-main" class="create-event-main">
  <div class="container">
    <h2 class="title text-center fs35 mt30 fw500">Create Event</h2>

    <div class="row">
      <div class="col-md-12">
        <form class="w70p center-block">

          <div class="form-group">
            <label for="title">Event Title</label>
            <input type="text" class="form-control" id="title" name="title">
          </div>
          <div class="form-group">
            <label for="geoplace">Event Location</label>
            <input type="text" class="form-control" name="geoplace" id="geoplace" g-places-autocomplete ng-model="place">
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="startDate">Start Date</label>
                <input type="text" id="startDate" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="endDate">End Date</label>
                <input type="text" id="endDate"  class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="startTime">Start Time</label>
                <input type="text" id="startTime" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="endTime">End Time</label>
                <input type="text" id="endTime"  class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Event Image {{hideUploadButton}}</label>
            <div class="p5 br-a w390">
              <div ngf-drop ngf-select ng-model="file" class="drop-box text-primary br4 cursor" ngf-drag-over-class="dragover"
                   ngf-multiple="false" ngf-allow-dir="true"
                   accept="image/*,application/pdf">
                <span ng-hide="hideUploadButton" class="pt25 fix-align">
                  <i class="fa fa-camera fix-align fs30"></i>
                  <span class="fs16">Drop images here or click to upload</span>
                </span>

                <img ngf-src="file" ngf-accept="'image/*'" class="img-responsive">
              </div>
            </div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser tst</div>
          </div>
          <div class="form-group">
            <label for="description">Event Description</label>
            <textarea type="text" class="form-control" name="description" id="description" rows="7"></textarea>
          </div>
        </form>
      </div>

    </div><!--//row-->
  </div><!--//container-->
</section>
