.create-event-main{
  .form-group{
    label{
      text-transform: uppercase;
      font-size: 13px;
    }
    .drop-box {
      background: #F8F8F8;
      border: 2px dashed #DDD;
      min-height: 100px;
      text-align: center;
      margin: 5px;
    }
    .dragover {
      border: 5px dashed blue;
    }

  }


}
