@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';
@import 'jasny-bootstrap/less/jasny-bootstrap.less';
@import 'flexslider/flexslider.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';
@font-path: '/bower_components/flexslider/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// injector
@import 'a.style.less';
@import 'account/login/login.less';
@import 'admin/admin.less';
@import 'event/event.less';
@import 'helpers.less';
@import 'main/main.less';
@import 'modal/modal.less';
// endinjector



.faq {
  padding: 10px 0 !important;
  .title {
    margin-bottom: 30px !important;
    font-size: 28px;
  }
}

.signup {
  padding: 30px 0 !important;
}
.header h1.logo .logo-title {
  font-weight: 400 !important;
  letter-spacing: -1px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.modal-backdrop {
  bottom: 0;
}
.main-login{
  h1{
    font-weight: 400;
    margin-bottom: 20px;
    color: #eea303;
  }
  .social-login {
    margin-bottom: 15px;
    .btn{
      display: list-item;
      margin-bottom: 5px;
    }
  }
  .divider {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    color: #999999;
    text-transform: uppercase;

    span {
      background: #fff;
      display: inline-block;
      padding: 0 10px;
      position: relative;
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 12px;
      background: #e5e5e5;
      height: 1px;
      width: 100%;
    }
  }
}

.price-plan.mysubscriptions{
  padding:20px 0 10px 0 !important;
  .intro {
    font-size: 18px;
    line-height: 1.5;
    color: #999999;
    margin-bottom: 0px !important;
  }
  .title{
    color: #573c01 !important;
  }
}
.panel{
  border-color: #eea236 !important;
  .panel-heading {
    border-color: #eea236 !important;
    border-bottom: 1px solid transparent !important;
  }
}


.wrapper.main{
  background-image: none !important;
  background: #f7f7f7 !important;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -42px;
  /* equal to footer height */
}

.wrapper:after {
  content: "";
  display: block;
  height: 42px;
  /* must be the same height as footer */
}

.footer {
  height: 42px;
  /* must be the same height as footer */
}

/*a.btn-cta-primary, .btn-cta-primary {
  background: #0e83cd;
  border: 2px solid #0e83cd;
  color: #fff;
  text-transform: uppercase;
}
.header .main-nav .nav .nav-item.nav-item-cta .btn-cta-primary {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  padding: 6px 12px;
  color: #fff;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  margin-top: 2px;
  background: #0e83cd;
}*/

