<section ng-controller="NavbarCtrl" id="header" class="header hide">
    <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
      <a class="navmenu-brand" href="#">Brand</a>
      <ul class="nav navmenu-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
          <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul>
      <ul class="nav navmenu-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    </nav>
  <div class="container-fluid">
    <div class="navbar navbar-default navbar-fixed-top">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
          </li>
          <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
          <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
          <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
          <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
          <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
</div>
</section>

<!-- ******HEADER****** -->
<header id="header" class="header"  ng-controller="NavbarCtrl">
  <div class="container">
    <h1 class="logo pull-left">
      <a href="/">
       <!-- <img src="../../assets/images/vantaa_logo.png" width="32" height="32">&nbsp;-->
        <span class="logo-title">Vantaa Games</span>
      </a>
    </h1><!--//logo-->
    <nav id="main-nav" class="main-nav navbar-right" role="navigation">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button><!--//nav-toggle-->
      </div><!--//navbar-header-->
      <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item" ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
          </li>
          <li class="nav-item dropdown" ng-show="isLoggedIn()">
            <a class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle  data-hover="dropdown" data-delay="0" data-close-others="false" href=""><i class="fa fa-user"></i>&nbsp;&nbsp;Hello {{ getCurrentUser().name }} <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
              <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings">Account Settings</a></li>
              <li ng-show="isLoggedIn()" ng-class="{active: isActive('/subscriptions')}"><a href="/mysubscription">Subscriptions</a></li>
              <li ng-show="isLoggedIn()" ng-class="{active: isActive('/alerts')}"><a href="/alerts">Alerts</a></li>
            </ul>
          </li>
          <li class="nav-item" ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Log in</a></li>
          <li class="nav-item nav-item-cta last" ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a class="btn btn-cta btn-cta-primary" href="/signup">Get Started</a></li>
          <li class="nav-item nav-item-cta last" ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><button type="button" class="btn btn-cta btn-cta-primary" ng-click="logout()">logout</button></li>

        </ul><!--//nav-->
      </div><!--//navabr-collapse-->
    </nav><!--//main-nav-->
  </div><!--//container-->
</header><!--//header-->

