<!-- ******CONTACT MAIN****** -->
<section id="contact-main" class="contact-main section">
  <div class="container text-center">
    <h2 class="title">Get in touch</h2>
    <p class="intro">We'd love to hear from you. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>

    <div class="row">
      <div class="item col-md-4 col-sm-12 col-xs-12">
        <div class="item-inner">
          <div class="icon">
            <!--<i class="fa fa-envelope"></i>-->
            <span class="pe-icon pe-7s-mail-open-file"></span>
          </div>
          <div class="details">
            <h4>Email &amp; Twitter:</h4>
            <p><a href="#">support@website.com</a></p>
            <p><a href="https://twitter.com/3rdwave_themes" target="_blank">@3rdwave_themes</a></p>
          </div><!--details-->
        </div><!--//item-inner-->
      </div><!--//item-->
      <div class="item col-md-4 col-sm-12 col-xs-12">
        <div class="item-inner">
          <div class="icon">
            <!--<i class="fa fa-phone"></i>-->
            <span class="pe-icon pe-7s-phone"></span>
          </div>
          <div class="details">
            <h4>Call us on:</h4>
            <p class="phone">0800 123 456</p>
            <p class="day">Mon-Sat 9am-6pm (GMT)</p>
          </div><!--details-->
        </div><!--//item-inner-->
      </div><!--//item-->
      <div class="item col-md-4 col-sm-12 col-xs-12 last">
        <div class="item-inner">
          <div class="icon">
            <!--<i class="fa fa-map-marker"></i>-->
            <span class="pe-icon pe-7s-map-2"></span>
          </div>
          <div class="details">
            <h4>Find us at:</h4>
            <p class="address">123 Queen Square<br />Bristol, UK</p>
          </div><!--details-->
        </div><!--//item-inner-->
      </div><!--//item-->
    </div><!--//row-->
  </div><!--//container-->
</section><!--//contact-->
<section class="container contact-form-section">
  <h3 class="title text-center">Contact Form</h3>
  <p class="intro text-center">Drop us a line lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
  <p class="intro text-center"><a href="https://twitter.com/3rdwave_themes" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @3rdwave_themes</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>

  <div class="row text-center">
    <div class="contact-form col-md-6 col-sm-12 col-xs-12 col-md-offset-3 col-sm-offset-0 col-xs-offset-0">
      <form class="form" id="contact-form" method="post" action="#">
        <div class="form-group name">
          <label class="sr-only" for="name">Your name</label>
          <input id="name" name="name" type="text" class="form-control" placeholder="Your name">
        </div><!--//form-group-->
        <div class="form-group email">
          <label class="sr-only" for="email">Your email</label>
          <input id="email" type="email" class="form-control" placeholder="Your email">
        </div><!--//form-group-->
        <div class="form-group message">
          <label class="sr-only" for="message">Your message</label>
          <textarea id="message" class="form-control" rows="8" placeholder="Your message"></textarea>
        </div><!--//form-group-->
        <button type="submit" class="btn btn-block btn-cta-primary">Send Message</button>
      </form><!--//form-->
    </div><!--//contact-form-->
  </div><!--//row-->
</section>
<!-- ******SIGNUP****** -->
<section id="signup" class="signup has-bg-color">
  <div class="container text-center">
    <h2 class="title">Ready to kickstart your business with Tempo?</h2>
    <p class="summary">Sign up to try Tempo FREE for 30 days! No credit card needed.</p>
    <form class="signup-form" method="post" action="#">
      <div class="form-group">
        <label class="sr-only" for="semail2">Your email</label>
        <input type="email" id="semail2" name="semail2" class="form-control" placeholder="Enter your email address" required>
      </div>
      <button type="submit" class="btn btn-cta btn-cta-primary">SIGN UP</button>
    </form><!--//signup-form-->
  </div>
</section><!--//signup-->
