.promo {
  position: relative;
  min-height: 330px;

  .intro {
    z-index: 3;
    .title {
      color: #fff;
      font-size: 38px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      max-width: 100%;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .summary {
      color: #fff;
      font-size: 22px;
      max-width: 680px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      margin-bottom: 15px;
    }
    form {
      width: 90%;
      .input-group {
        .form-control {
          width: 33.333333333%;
          border: 1px solid #EAE9E9;
          &:focus {
            border-color: #EAE9E9;
            box-shadow: none;
          }
        }
        .br-tl-bl-4 {
          border-top-left-radius: 4px !important;
          border-bottom-left-radius: 4px !important;
        }
        .br-tr-br-4 {
          border-top-right-radius: 4px !important;
          border-bottom-right-radius: 4px !important;
        }
      }

    }
  }

  .bg-slider-wrapper {
    height: 330px;
    z-index: 1;
    .flexslider {
      ul.slides {
        li {
          .img-placeholder {
            height: 330px;
            max-width: 100%;
            position: relative;
            background-color: #abb8c2 !important;
            transition: height .3s;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }
    }
  }
  .bg-slider-cover {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 330px;
    background-color: rgba(6, 6, 6, 0.44);
    z-index: 2;
  }
}

.promo-canopy-navbar {
  background-color: #fff;
  border-bottom: 1px solid rgba(209, 213, 219, 0.46);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
}

.events-container {
  .events-plan {
    .title {
      font-size: 28px;
      margin-bottom: 15px;
    }
    .intro {
      font-size: 18px;
      line-height: 1.5;
      color: #999999;
      margin-bottom: 10px;
    }
  }
  .event-cols {
    .event {
      .event-card{
        font-family: "Benton Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
        background-color: #fff;
        border: 1px solid;
        border-radius: 0px;
        border-color: #e5e6e9 #dfe0e4 #d0d1d5;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);

        border-color: #F3F4F7 #EAEBEF #EAEBEC;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);

        .event-card-image-holder {
          height: 100px;
          max-width: 100%;
          position: relative;
          background-color: #abb8c2 !important;
          transition: height .3s;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .event-card-body{
          .event-card-date {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: block;
            color: rgba(0,0,0,.8);
            font-size: 12px;
            line-height: 18px;
            height: 18px;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 5px 0 0;
          }
          .event-card-title {
            display: -webkit-box;
            max-height: 36px;
            line-height: 18px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            white-space: normal;
            overflow: hidden;
            color: rgba(0,0,0,.8);
            font-size: 15px;
            line-height: 18px;
            height: 36px;
            max-height: 36px;
            font-weight: 700;
            letter-spacing: 0;
          }
          .event-card-venue {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: rgba(0,0,0,.45);
            font-size: 12px;
            line-height: 18px;
            height: 18px;
            padding: 5px 0 0;
          }
        }
      }
    }
  }

}

.modal.modal-event .modal-dialog{
  width: 600px;
}
