<!-- ******PROMO****** -->
<section id="promo" class="promo section">
  <div class="container intro text-center">
    <h2 class="title fs50">Bring Your Event to Life</h2>
    <p class="summary center-block fw500">Join hundreds of thousands of event organizers selling tickets and managing registrations on Eventbrite today.</p>
    <form class="center-block mt40">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control br-v-n br-l-n br-tl-bl-4" placeholder="Search for events" aria-describedby="basic-addon2">
        <input type="text" class="form-control br-v-n br-l-n " placeholder="Enter city or location" aria-describedby="basic-addon2">
        <input type="text" class="form-control br-v-n br-l-n br-r-n" placeholder="Select Time" aria-describedby="basic-addon2">
        <span class="input-group-btn">
          <button class="btn btn-success br-tr-br-4" type="button">Search</button>
        </span>
      </div>
    </form>
  </div><!--//intro-->
  <div class="bg-slider-wrapper">
    <flex-slider class="carousel" flex-slide="s in slides" animation="fade" control-nav="false" direction-nav="false" slideshow-speed="6000">
      <li>
        <div class="img-placeholder" style="transform: none; display: block; background-image: url({{s}});"></div>
      </li>
    </flex-slider>
  </div><!--//bg-slider-wrapper-->
  <div class="bg-slider-cover"></div>
</section><!--//promo-->
<section class="promo-canopy-navbar">
  <div class="container">
    <nav class="navbar navbar-default mbn br-n bg-none" role="navigation">
      <div class="navbar-header hide">
        <a class="navbar-brand" href="#">TutorialsPoint</a>
      </div>
      <div class="pull-right mt8 mb8">
        <a href="/addevent" class="btn btn-primary text-uppercase">Create Event</a>
      </div>
    </nav>
  </div>
</section>
<div ng-include="'components/event/event.html'"></div>

